@{
    ViewData["Title"] = "Cadastros";
}

<link rel="icon" href="~/images/logo-devconnect-sm.svg" type="image/svg+xml">
<link rel="stylesheet" href="~/css/login.css">
<link rel="stylesheet" href="~/css/global.css">

<main>
    <div>
        <form class="estilo-formulario">
            <img src="~/images/logo-devconnect-lg.svg" alt="">
            <p> Cadastre-se para comunidade exclusiva de desenvolvedores(as)</p>

            <div class="formulario-campos">
                <label for="nome">Nome e Sobrenome:</label>
                <input type="text" name="nome" id="nome">
            </div>

            <div class="formulario-campos">
                <label for="usuario">Nome de usuário:</label>
                <input type="text" name="usuario" id="usuario">
            </div>

            <div class="formulario-campos">
                <label for="email">E-mail:</label>
                <input type="email" name="email" id="email">
            </div>

            <div class="formulario-campos">
                <label for="senha">Senha:</label>
                <input type="password" name="senha" id="senha">
            </div>

            <div>
                <label for="campo-upload" id="texto-upload">Faça o upload da imagem aqui...</label>
                <input type="file" name="imagem" id="campo-upload">
            </div>

            <button type="submit">Cadastrar-se</button>

            <p>Ao se cadastrar, você concordará com nossos Termos, Política de Dados e Política de Cookies.</p>
        </form>
    </div>
</main>
